<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.iak_b3pip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GalauActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Pertanyaan2Activity" />
        <activity android:name=".Pertanyaan3Activity" />
        <activity android:name=".Pertanyaan4Activity" />
        <activity android:name=".Pertanyaan5Activity" />
        <activity android:name=".Pertanyaan6Activity" />
        <activity android:name=".Pertanyaan7Activity" />
        <activity android:name=".Pertanyaan8Activity" />
        <activity android:name=".Pertanyaan9Activity" />
        <activity android:name=".Pertanyaan10Activity"></activity>
    </application>

</manifest>